<h1 class="centered fancy">

  Dashboard

</h1>


<div id="welcome">

  <h2 id="welcome-message">

    Welcome to the Inventory System

  </h2>
  <p>

    You have <%= SalesItem.count %> items defined in the system.

  </p>
  <p>

    The

        <span id="user" class="bold-blue">

            average</span>

      price of a sales item is <%=number_to_currency(SalesItem.average(:price))%>.

  </p>



</div>



<p id='popup' style="display: none;">The average is the sum divided by the count.</p>
