table{


    margin:0px;
    padding:0px;
    width:50%;
    box-shadow:10px 10px 5px #888888;
    border:1px solid #000000;
    border-collapse:collapse;
    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px

}

td,th{
  border:1px solid black
}