
h1.centered{
  text-align:center
}

h1.fancy{
  color:darkgreen;
  text-decoration:underline
}


.bold-blue{
  font-weight:bold;
  color:blue;
  text-decoration:underline
}


div#welcome{
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  border:1px solid blue;
  width:40%;
  padding:10px
}


#popup {
  text-align:center;
  font-size:14pt;
  color:green

}